.titulo{
    margin: auto;
    max-width: 1000px;
}
.menu{
    margin: auto;
    max-width: 1000px;
}
.menu .select{
    width: 100%;
    font-size: 1em;
    padding: 10px 10px;
    margin: 20px;
    display: block;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: auto;
    max-width: 1000px;
}
.articulo{
    min-width: 300px;
    min-height: 300px;
    margin: 0 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.ocultar{
    display: none;
}
.articulo img{
    max-width: 300px;
    max-height: 300px;
}
.mostrar{
    display: block !important;
}