@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.header{
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
    position: relative;
}
.header .titulo{
    padding: 5px 20px;
}
.header .buscador{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding: 10px 20px;
}
.header .buscador .input{
    padding: 0 10px;
}
.header .buscador input{
    width: 100%;
    color: grey;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    border: 1px solid grey;
    box-sizing: border-box;
}
.header .buscador input #palabra{
    max-width: 100%;
}
.header .totalregistros{
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 1.1em;
    padding: 10px 20px;
}
.header .buscador #buscar{
    margin: 0 5px;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}
.contenedor .personaje{
    width: 100%;
    max-width: 250px;
    border: 1px solid lightgray;
    background-color: rgba(0,0,0,0.02);
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}
.contenedor .personaje .nombre {
    font-weight: 800;
    font-size: 1.4em;
    padding: 5px 0;
}
.contenedor .personaje .especie {
    color: #0d93e6;
    font-size: 1.1em;
    padding: 0 0 3px;
}
.contenedor .personaje .otrosdatos {
    padding: 5px 0 0;
}
.contenedor .personaje .otrosdatos div{
    border-bottom: 1px solid lightgray;
    padding: 3px 0;
}
.contenedor .personaje img{
    max-width: 100%;
}
.paginacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.paginacion button{
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
}


@media only screen and (max-width:1000px) {

    .header .buscador{
        flex-direction: column;
    }
    .header .buscador .input{
        padding: 10px;
    }

    .header .totalregistros{
        text-align: center;
    }

}