@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.contenedor{
    background-color: lightgrey ;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_calc{
    width: 100%;
    max-width: 600px;
    height: 100vh;
    background-color: rgba(0,0,0,0.02);;
    border-radius: 5px;
    margin: auto;
    padding: 20px 30px;
    box-sizing: border-box;
    display: grid;
    grid-gap: 10px;
    grid-template: repeat(5, auto) / repeat(4, auto); 
    grid-template-areas: 
            "pantalla pantalla pantalla pantalla" 
            "siete ocho nueve dividir"
            "cuatro cinco seis multiplzicar"
            "uno dos tres sumar"
            "cero resultado reseteo restar";
}
.box, .box_inactivo{
    background-color: lightgray;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    font-size: 3em;
}
.pantalla{
    grid-area: pantalla;
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
    font-size: 6em;
    box-sizing: border-box;
    border: 10px solid rgb(202, 202, 70);
}
.resultado{
    grid-area: resultado;
}
 
@media only screen and (max-width:1000px) {
    body{
        font-size: 16px;
    }

    .pantalla{
        font-size: 4em;
        border: 2px solid rgb(202, 202, 70);
    }


}