@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.titulo{
    padding: 10px 20px;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}
.contenedor .personaje{
    width: 100%;
    max-width: 250px;
    border: 1px solid lightgray;
    background-color: rgba(0,0,0,0.02);
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}
.contenedor .personaje .nombre {
    font-weight: 800;
    font-size: 1.4em;
    padding: 5px 0;
}
.contenedor .personaje .especie {
    color: #0d93e6;
    font-size: 1.1em;
    padding: 0 0 3px;
}
.contenedor .personaje .otrosdatos {
    padding: 5px 0 0;
}
.contenedor .personaje .otrosdatos div{
    border-bottom: 1px solid lightgray;
    padding: 3px 0;
}
.contenedor .personaje img{
    max-width: 100%;
}
.encabezado .paginacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.encabezado .texto{
    font-size: 1.3em;
    padding: 0 10px 0;
}
.encabezado .paginacion button{
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
}
.encabezado .totalregistros{
    border: 1px solid lightgray;
    background-color: rgba(0,0,0,0.02);
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 96%;
    width: 100%;
    text-align: right;
}
.encabezado{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.encabezado .buscador{
    border: 1px solid lightgray;
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    width: 96%;
    margin: auto;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.encabezado .buscador #buscar{
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px 10px;
    font-size: 1.3em;
    margin-left: 5px;
    cursor: pointer;
}
.encabezado .buscador #palabra{
    padding: 10px 10px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid;
    min-width: 250px;
    font-size: 1.4em;
}

@media only screen and (max-width:1000px) {

    .encabezado .buscador #palabra{
        width: 100%;
        margin: 5px auto;
        min-width: initial;
        padding: 10px 0;
    }
    .encabezado .buscador {
        flex-direction: column;
    }
    .encabezado .texto {
        padding: 0 10px;
        text-align: center;
    }
    .totalregistros{
        margin: auto;
        text-align: center;
    }

}